.task-section {

    &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 67px;

        &__item {
            position: relative;

            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            
            width: 90%;

            padding: 13px 45px;

            margin: 40px 0 0 0;

            background-color: $grey-task-body;

            border-radius: 20px;

            font-size: 14px;
            color: $grey-text;
            line-height: 18px;
        }
    }
}