* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-family: $font-regular;

    /* USER-SELECTION */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, only Chrome and Opera */

}

//---------- Fonts ----------//
.font-bold {
    font-family: $font-bold;
}
.font-regular {
    font-family: $font-regular;
}
//---------------------------//



//---------- Text style ----------//
.block {
    display: block;
}
.task-text:hover {
    cursor: pointer;
}
//--------------------------------//

//---------- Task States ----------//
.responsible, .progress {
    display: block;
    position: absolute;
    top: -18px;

    font-size: 10px;
    color: $status-grey;

    &:hover {
        cursor: pointer;
        color: $grey-text-active;
    }
}

.responsible {
    left: 18px;
}

.progress {
    right: 18px;
}

.awaiting, .active, .completed{
    &::after {
        content: "";
        position: absolute;
        display: block;
    
        top: 5.5px;
        right: -10px;
    
        width: 8px;
        height: 8px;
    
        border-radius: 100%;

    }

}
.awaiting::after {
    background-color: $status-yellow;
}
.active::after {
    background-color: $status-green;
}
.completed::after {
    background-color: $status-grey;
}

.unchecked, .checked {
    position: absolute;
    top: auto;
    left: 0;

    z-index: 1;

    width: 15px;
    height: 15px;

    margin: 1px 15px 0 20px;

    background-image: url(../icons/checkbox.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;

    &:hover {
        cursor: pointer;
    }
}

.unchecked {
    background-image: url(../icons/checkbox.png);
}
.checked {
    background-image: url(../icons/checked.png);
}

.trash-bin {
    position: absolute;
    top: auto;
    right: 15px;

    display: block;

    width: 13px;
    height: 16px;

    background-image: url(../icons/trash-bin.svg);
    background-repeat: no-repeat;
    background-size: 13px 16px;

    &:hover {
        -webkit-filter: brightness(0.8);
                filter: brightness(0.8);
        cursor: pointer;
    } 
}

.lineThrough {
    text-decoration: line-through;
}
//---------------------------------//