* {
    box-sizing: border-box;
}

html {
    font-family: $font-regular;
}

.font-bold {
    font-family: $font-bold;
}
.font-regular {
    font-family: $font-regular;
}

.checkbox {
    position: absolute;
    top: 13px;
    left: 0;

    z-index: 1;

    width: 15px;
    height: 15px;

    margin: 1px 15px 0 20px;

    background-image: url(../icons/check-box-empty.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px; 
}
.checked {
    position: absolute;
    top: 13px;
    left: 0;

    z-index: 1;

    width: 9px;
    height: 8px;

    margin: -9px 0 0 3px;

    background-image: url(../icons/checked.svg);
    background-repeat: no-repeat;
    background-size: 9px 8px;
}
.trash-bin {
    position: absolute;
    top: 13px;
    right: 15px;

    z-index: 1;

    display: block;

    fill: $grey-trash-bin;

    width: 13px;
    height: 16px;

    background-repeat: no-repeat;
    background-size: 13px 16px;

    &:hover {
        fill: $grey-text;
    } 
}